:root {
    --heading-Font-family: "Playfair Display", serif;
    --default-font-family: "poppins", sans-serif;
    --secondary-color: rgb(226, 226, 227);
    --primary-color: #202020;
}

body {
    font-family: var(--default-font-family);
    background-color: black;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
    font-family: var(--heading-Font-family);
}

h1 {
    font-size: 96px;
    font-weight: bold;
    line-height: 1.5;
}

h2 {
    font-size: 64px;
}

p {
    color: white;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
}

.content-container h1 {
    font-size: 64px;
}

.content-container h2 {
    font-family: var(--default-font-family);
    font-size: 18px;
    font-weight: bold;
}

.content-container {
    padding: 160px 20px;
}

.content-container h3 {
    font-family: var(--default-font-family);
    font-weight: bold;
    font-size: 24px;
    margin: 20px 0 15px 0;
}

.content-container p{
    font-style: 14px;
}

.content {
    margin: 30px;
}

.header {
    background-color: var(--primary-color);
    text-align: center;
    padding: 160px 20px;
    margin: 0 5px;
}

.header p {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    color: var(--secondary-color);
}

.header h2 {
    font-family: var(--default-font-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    color: var(--secondary-color);
}

.btn-light {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}

.btn-light-outline {
    border: 1px solid var(--secondary-color);
    color: white;
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}

.project-description {
    padding: 100px 50px 100px 10px;
}

img {
    max-height: 560px;
    margin-left: auto;
}

.profile-pic {
    margin: 60px 0 0 80px;
    border-radius: 10px;
}

.inquiry {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--primary-color);
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin: 130px 100px 70px 100px;
    border-radius: 10px;
}

.inquiry h2 {
    font-size: 48px;
}

.fa-brands {
    color: white;
    background-color: var(--primary-color);
    border-radius: 50px;
    padding: 10px;
    margin: 10px;
}

.footer a {
    color: white;
    font-family: var(--default-font-family);
    font-size: 24px;
}

@media (max-width: 900px) {
    h1 {
        font-size: 44px;
    }

    h2 {
        font-size: 44px;
    }

    .header {
        padding: 40px 0px;
    }

    .inquiry {
        margin: 100px 0px 70px 0px;
        border-radius: 0;
    }

    .project-description {
        padding: 10px;
        text-align: center;
    }

    .content-container {
        text-align: center;
    }
}