:root {
    --heading-Font-family: "Playfair Display", serif;
    --default-font-family: "poppins", sans-serif;
    --secondary-color: rgb(226, 226, 227);
    --primary-color: #202020;
}

body {
    font-family: var(--default-font-family);
}

h1, h2, h3, h4, h5, h6 {
    color: white;
    font-family: var(--heading-Font-family);
}

h1 {
    font-size: 96px;
    font-weight: bold;
}

p {
    color: white;
    font-weight: bold;
}

.header {
    background-color: var(--primary-color);
    text-align: center;
    padding: 160px 0;
}

.header p {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    color: var(--secondary-color);
}

.header h2 {
    font-family: var(--default-font-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 2;
    color: var(--secondary-color);
}

.btn-light {
    color: var(--primary-color);
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}